<link rel="stylesheet" type="text/css" href="./CSS/sideTypesBar.css">

<div class="typesSideBarContent">

    <div class="coins" title="Coins">
        <div class="coins-inlay">
            <div class="dollar-sign inCoin">$</div>
        </div>
    </div>

    <br><br>

    <div class="banknotes" title="Banknotes">
        <!--    <a href="#" class="banknotes">Banknotes</a>-->

        <div class="banknotes-inlay">
            <div class="upperLeft corner"></div>
            <div class="upperRight corner"></div>
            <div class="lowerLeft corner"></div>
            <div class="lowerRight corner"></div>
            <div class="dollar-sign inBanknote">$</div>
        </div>
    </div>

    <br><br>

    <div class="toys" title="Toys">
        <!--    <a href="#" class="toys">Toys</a>-->

        <div class="coins upper">
            <div class="coins leftEye"></div>
            <div class="coins rightEye"></div>
        </div>
        <div class="coins bottom"></div>
        <div class="coins left"></div>
        <div class="coins right"></div>
    </div>
    <br><br>

    <div class="utilityHardware">
<!--        <a href="#" class="utilityHardware">Utility Hardware</a>-->
    </div>
    <br><br>

    <div class="sewingAccessories">
<!--        <a href="#" class="sewingAccessories">Sewing Accessories</a>-->
    </div>

</div>

<div class="rightBorderStrip">
    <div class="sideText">... Types ... Types ... Types ... Types ... Types ... Types ... Types ... Types ... Types ...</div>
</div>

<script>
    $('.sideTypesBar').click(function () {
        $(this).toggleClass('hidden')});

    $('.sideTypesBar').hover(function () {
        $(this).toggleClass('unhidden')});

    $('.coins *').click(function () {
       document.location.href='coins.html';
    });

    $('.banknotes *').click(function () {
        document.location.href='banknotes.html';
    });

    $('.toys *').click(function () {
        document.location.href='toys.html';
    });
</script>
