#footer {
    position: fixed;
    font-size: 80%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lemonchiffon;
    text-align: right;
}
#logo1{font-family: "DS Mmoster"}
#logo2{font-family: 'ZCOOL KuaiLe', cursive;}
