#header {

    position: fixed;
    width: 100%;
    height: 5%;
    top: 0;
    left: 0;
    padding: 2.1%;
    font-size: 200%;
    color: darkred;
    font-weight: bolder;

    background-color: lemonchiffon;

}
