html {height: 100%;}
header, nav, section, article, aside, footer {display: block;}

@font-face{
    font-family: 'DS Mmoster';
    src: url('../FONTS/ds_moster.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZCOOL KuaiLe', cursive;
    src: local('ZCOOL KuaiLe'), url('https://fonts.google.com/specimen/ZCOOL+KuaiLe?selection.family=ZCOOL+KuaiLe');
}

body{
    height: 100%;
    font-family: Arial;
    padding-top: 6%;
    padding-left: 7%;
    height:100%;
    background-color: lightyellow;}

.mainDiv{
    margin: 1%;
}
