.sideTypesBar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 7%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: auto; /* Stay at the top */
    left: 0;
    background-color: lemonchiffon;
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.hidden{
    left: -5%;
}
.unhidden{
    left: 0%;
}
.typesSideBarContent{
    display: inline-block;
    height: inherit;
    width: 75%;
}
.rightBorderStrip {
    display: inline-block;
    height: inherit;
    width: 25%;
    float: right;
    transform: scaleX(.25) translateX(-35%);
}
.sideText{
    font-family: "DS Mmoster";
    transform: rotate(-90deg) scaleY(4) translateX(-85vh);
    word-break: normal; white-space: nowrap
}

.dollar-sign{
    position: absolute;
    top: 0%;
    left: 25%;
    font-family: Arial;
    font-size: 3vw;
    font-weight: bold;
    z-index: 700;
    color: lemonchiffon;
    text-shadow:  rgba(0, 0, 0, .1) 2px 2px 1px;
}
.coins{
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 4vw;
    height: 4vw;
    margin: 7%;
    border-radius: 50%;
    z-index: 500;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
}

.coins-inlay{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 90%;
    height: 90%;
    margin: 7%;
    border-radius: 50%;
    z-index: 600;
    box-shadow:  -1px -1px 2px 1px rgba(0, 0, 0, .1);
}

.banknotes{
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 4vw;
    height: 3vw;
    text-align: center;
    margin: 7%;
    z-index: 500;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
}


.banknotes-inlay{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 85%;
    height: 85%;
    margin: 7%;
    z-index: 600;
    box-shadow:  -1px -1px 2px 1px rgba(0, 0, 0, .1);
}
.corner{
    cursor: pointer;
    width: 20%;
    height: 20%;
    z-index: 610;
}
.upperLeft{
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
    box-shadow:  1px 1px 2px 2px rgba(0, 0, 0, .1);
}
.upperRight{
    position: absolute;
    right: 0%;
    top: 0%;
    border-bottom-left-radius: 7px;
    box-shadow:  -1px -1px 2px 1px rgba(0, 0, 0, .1);
}
.lowerLeft{
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-top-right-radius: 7px;
    box-shadow:  -1px -1px 2px 1px rgba(0, 0, 0, .1);
}
.lowerRight{
    position: absolute;
    bottom: 0%;
    right: 0%;
    border-top-left-radius: 7px;
    box-shadow:  -1px -1px 2px 1px rgba(0, 0, 0, .1);
  }
.inBanknote{
  top: -25%;
}
.toys{
    height: 4vw;
    width: 4vw;
    cursor: pointer;
    position: relative;
}
.upper{
    position: absolute;
    top: 0%;
    left: 25%;
    width: 1.5vw;
    height: 1.5vw;
}
.bottom{
    position: absolute;
    bottom: 0%;
    left: 12.5%;
    width: 2.5vw;
    height: 2.5vw;
}
.left{
    position: absolute;
    top: 27.5%;
    left: 12.5%;
    width: 0.5vw;
    height: 0.5vw;
}
.right{
    position: absolute;
    top: 20%;
    right: 12.5%;
    width: 0.5vw;
    height: 0.5vw;
    z-index: 590;
}
.leftEye{
    position: absolute;
    top: 45%;
    left: 25%;
    width: 0.1vw;
    height: 0.1vw;
}
.rightEye{
    position: absolute;
    top: 45%;
    left: 65%;
    width: 0.1vw;
    height: 0.1vw;
}
